In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame()

In [4]:
df

Empty DataFrame
Columns: []
Index: []

In [6]:
df1= pd.DataFrame([[1,2,3,4],[5,6,7,8],[9,12,14,15],[44,54,23,6],[334,56,123,45]])

In [7]:
df1

     0   1    2   3
0    1   2    3   4
1    5   6    7   8
2    9  12   14  15
3   44  54   23   6
4  334  56  123  45

In [9]:
df1.head()

     0   1    2   3
0    1   2    3   4
1    5   6    7   8
2    9  12   14  15
3   44  54   23   6
4  334  56  123  45

In [10]:
df1.head(2)

   0  1  2  3
0  1  2  3  4
1  5  6  7  8